* {
    font-family: "Minecraft";
    font-size: 13px;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: #111111;
    color: #cccccc;
}

#workspaces button {
    padding: 0 8px;
    color: #666666;
    background: transparent;
}

#workspaces button.focused {
    color: #ffffff;
    background-color: #222222;
    border-bottom: 2px solid #ffffff;
}

#workspaces button:hover {
    background-color: #1a1a1a;
    color: #ffffff;
}

#clock,
#cpu {
  padding: 0 8px;
  color: #cccccc;
}

#memory {
  padding: 0 8px;
  color: #cccccc;
}

#network {
  padding: 0 8px;
  color: #cccccc;
}

#tray {
    padding: 0 10px;
    color: #cccccc;
}
